*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signup{
    height:50rem;
    width: 50rem;
    border: 1px solid black;
    border-radius: 50%;
}


/* SignUp Page */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing:inherit;
}

html, body {
    height: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-image: url(backgroundImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 400;
    font-family: Imprima;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 5rem;
    height: 5rem;
    margin: 0.8rem;
    margin-bottom: 0;
    align-self: flex-start;
}

main {
    background-color: rgba(204, 211, 202, 1);
    border-radius: 100%;
    height: 38rem;
    width: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    position: relative;
    top: 0.5rem;
}

h1 {
    margin-top: 5rem;
    width: 20rem;
    line-height: 3.125rem;
    font-weight: 700;
    font-size: 2.875rem;
    font-family: Kadwa;
    color: rgba(39, 68, 114, 1);
    margin: 2rem;
    margin-top: 0;
    text-align: center;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.875rem;
    color: rgba(39, 68, 114, 1);
}

main form .inputField {
    width: 20rem;
    height: 3rem;
    margin-bottom: 1rem;
}

main form button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 0.125rem;
    background: linear-gradient(90deg, #52727B 0%, #9EBCC5 100%);
    color: rgba(217, 217, 217, 1);
    align-self: center;
    margin: 2rem;
    font-family: Imprima;
}

main p {
    color: rgba(39, 68, 114, 1);
    font-size: 0.875rem;
    line-height: 0.875rem;
    margin: 0;
}

footer {
    height: 2.5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: 3rem;
    background-color: aliceblue;
}

a {
    text-decoration: none;
}

a:hover {
    color: aquamarine;
}

/* Landing.ejs */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing:inherit;
}

html, body {
    height: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Imprima;
}

body {
    background: rgba(217, 217, 217, 1);
}

.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

main {
    width: 95%;
    height: 90%;
    border-radius: 1.5rem;
    margin: auto;
    background: linear-gradient(180deg, rgba(209, 227, 220, 0.82) 0%, rgba(71, 129, 129, 0.82) 100%);
    position: relative;
}

/* .logo {
    width: 5rem;
    height: 5rem;
    margin: 0.8rem;
    margin-bottom: 0;
    align-self: flex-start;
} */

.container {
    width: 30%;
    height: 20%;
    background: rgba(217, 217, 217, 1);
    border-top-left-radius: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 0.8rem;
}

button {
    margin-left: 1.3rem;
    width: 12.5rem;
    height: 7rem;
    border-radius: 1.25rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.newClass {
    position: absolute;
    right: 5rem;
    top: 3rem;
}